#base-header {
    background-color: #4057ec30;
    height: 12vh;
}

#head-bar-side {
    background-color: #6fadb752;
    height: 10vh;
}

#head-bar-main {
    background-color: #a16fd64d;
    height: 10vh;
    position: relative;
}

#content-side {
    background-color: #7fb76f30;
    height: 78vh;
}

#content-main {
    background-color: #ee74744b;
    height: 78vh;
}

.content-main::-webkit-scrollbar,
.content-side::-webkit-scrollbar,
.head-bar-main::-webkit-scrollbar,
.head-bar-side::-webkit-scrollbar {
    display: none;
}

.toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
    display: none;
    width: max-content;
    vertical-align: center;
}

.sidebar {
    position: absolute;
    top: 0;
    height: 0;
    transform: translateX(-100%); /* 初期状態では画面外に配置 */
}

@media (max-width: 768px) { /* スマホ画面の大きさ以下のとき */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* サイドバーの影 */
        z-index: 999; /* 他のコンテンツより前面に表示 */
        transition: .3s ease;/* スライドイン・アウトのアニメーション */
    }

    .sidebar.show {
        transform: translateX(0); /* サイドバーが表示されるとき */
        float: left;
    }

    .sidebar,
    .toggle-btn { /* サイドバーとボタンの共通部分 */
        background-color: #97bfe8;
    }

    .toggle-btn {
        position: fixed;
        display: block;
        top: 20px;
        left: 100%;
        transition: .3s;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .content-side {
        display: none;
    }

    .sidebar.show + .toggle-btn {
    left: 250px;
    }
}

#sidebar-toggle {
    position: absolute;
    margin-top: 100px;
    left: 0;
}
