
/* メインメニューのスタイル */
#side_bar {
    width: 200px;
    background-color: #2c3e50;
    position: fixed;
    top: 0;
    left: -200px; /* 画面の外に隠す */
    bottom: 0;
    transition: left 0.3s ease; /* スライドインのアニメーション */
    z-index: 100;
}

/* サイドバーが表示されているときのスタイル */
#side_bar.open {
    left: 0; /* 画面内に表示 */
}

/* スクリーンの左端にカーソルを検出するための透明なエリア */
#hover_area {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px; /* カーソルを検出するエリアの幅 */
    height: 100vh;
    z-index: 99;
}

#side_bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

#side_bar li {
    border-top: 1px solid black;
}

#side_bar li a {
    font-family: 'Meiryo', 'Hiragino Kaku Gothic ProN', 'Helvetica', 'Arial', sans-serif;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ecf0f1;
    background-color: #34495e;
    transition: .3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#side_bar li a:hover {
    background-color: #1abc9c;
}

.sidebar-text {
    flex-grow: 1;
    padding: 15px;
    text-decoration: none;
    color: #ecf0f1;
    background-color: #34495e;
    transition: .3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-text:hover {
    background-color: #1abc9c;
}

/* 矢印部分のホバースタイル */
.arrow:hover {
    background-color: #1abc9c;
}

.body{
    font-family: 'Meiryo', 'Hiragino Kaku Gothic ProN', 'Helvetica', 'Arial', sans-serif;
}

.scoreboard {
    border-bottom: 1px solid black;
}

/* 矢印のスタイル */
.arrow {
    font-family: 'Meiryo', 'Hiragino Kaku Gothic ProN', 'Helvetica', 'Arial', sans-serif;
    transition: .3s;
    padding: 15px;
    align-content: center;
    color: white;
    background-color: #34495e;
}

.arrow.down::before {
    content: "▼";
}

.arrow.up::before {
    content: "▲";
}

.arrow-container {
    width: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ボタンの設定 */
.menu_index {
    width: 200px;
    padding: 10px;
    display: flex;
    position: relative;
    z-index: 2;
    background-color: white;
    border: solid 1px;
    cursor: pointer;
}

.toggle_btn {
    position: relative;
    width: 1rem;
    height: 1rem;
}

.toggle_btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    transition: .3s;
}

.toggle_btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    transform: rotate(90deg);
    transition: .3s;
}

.toggle_btn.active::after {
    transform: rotate(0deg);
}

/* サブメニューの設定*/
.menu_outer {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

/* アコーディオンのアニメーション */
.has-submenu .submenu {
    max-height: 0;
    transition: max-height .5s ease;
    overflow: hidden;
}

.has-submenu.open .submenu {
    max-height: 330px; /* 最大高さを設定。これを超えるとスクロール発生 */
    overflow-y: auto;  /* コンテンツが収まりきらない場合にスクロール */
    transition: max-height .5s ease; /* アニメーションで開閉 */
    background-color: lightcyan;
    overflow-y: auto;
}

.submenu {
    z-index: 1;
}

.submenu li {
    cursor: pointer;
    width: 100%;
}

.submenu li:hover {
    background-color: darkcyan;
    color: white;
}

.submenu li a {
    background-color: #4c637a;
}

*{
    margin:0px;
    padding:0px;
}

header{
    background-color: #34495e;
    height:100px;
    width:100%;
    position:sticky;
}

.header-list li{
    color:white;
    float:left;
    list-style-type: none;
    padding:25px 14px;
    text-align: center;
    font-size:30px;
    font-weight: bold;
    height: 50px;
    /* border-right:1px solid #fff; */
}

.header-logo{
    color:white;
    font-size:50px;
    font-weight:bolder;
    float:left;
    padding:12px 40px;
}

.header ul{
    overflow: hidden;
}

.line-right{
    display:block;
    position:absolute;
    height:80px;
    top:20px;
    right:0;
    width:2px;
    background-color: #fff;
}

.board_data{
    text-decoration: none;
    color:#fff;
}

.board_data:hover{
    color:aqua;
}

.front_data{
    text-decoration: none;
    color:#fff;
}

.front_data:hover{
    color:aqua;
}