#content-main {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

#content-main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

#content-side {
  scrollbar-width: none; /* Firefox */
}

#content-side::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

#head-bar-main{
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

#head-bar-main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

#base-header {
    background-color: #4057ec30;
    height: 12vh;
}

#head-bar-side {
    height: 10vh;
}

#head-bar-main {
    height: 10vh;
    position: relative;
}

#content-side {
    height: 78vh;
    z-index:100;
}

#content-main {
    height: 78vh;
    z-index:300;
}

#menu-button{
  z-index:500;
}

.navbar{
    position: fixed;
    background-color: #34495e;
    height: 12vh;
    display: flex;
    align-items: center;
}

.navbar-brand{
    align-items: center;
    font-weight: 500;
    font-size:4vh;
    color: #fff;
    transition:0.3s color;
    display: flex;
    margin-left:0vw;
    padding:0;
}

.navbar-brand:hover{
    color:aqua;
}

.d-inline-block{
    margin:0;
    padding:0;
}

.offcanvas-body{
    background-color: #34495e;
}

.offcanvas-header{
    background-color: #34495e;
}

.navbar-toggler{
    position:fixed;
    right:1.5vw;
    border: none;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline:none;
}

.navbar-nav{
    height: 6vh;
    display: flex;
    background-color: #34495e;
    align-items: center;
}

.nav-link{
    position:relative;
    display: flex;
    margin: 0;
    padding-top: 0;
    color:#fff;
    font-size:3vh;
}

.nav-link:hover, .nav-link.active{
    color:aqua;
}

@media (min-width: 991px){
    .nav-link::before{
        content:"";
        position: absolute;
        top:7vh;
        left:50%;
        transform: translateX(-50%);
        width:0;
        height: 0.4vh;
        background-color: aqua;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }

    .slide-menu{
        display: none;
    }


}

@media (max-width: 991px){
  #base-header{
    display: none;
  }

  #head-bar-side {
      height: 12vh;
  }
  
  #head-bar-main {
      height: 12vh;
  }
  
  #content-side {
      min-height: 88vh;
  }
  
  #content-main {
      min-height: 88vh;
  }

  .menu-button{
      overflow-x: hidden;
      z-index:500;
    }
    .header-area{
      position:fixed;
      z-index:500;
    }
    .hamburger{
      position: fixed;
      width: 40vw;
      height: 12vh;
      margin-left:60vw;
      margin-top:0;
      transition: .5s;/* 追記 */
    }
    .hamburger span{
      position: absolute;
      right:10%;
      width: 15%;
      height: 2px;
      background-color: rgb(255, 255, 255);
      transition: .5s;/* 追記 */
    }
    .hamburger span:first-of-type{/* ハンバーガーメニューの1番目の線 */
      top: 30%;
    }
    .hamburger span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
      top: 50%;
    }
    .hamburger span:last-of-type{/* ハンバーガーメニューの3番目の線 */
      top: 70%;
    }


    .slide-menu{
      position: fixed;
      margin-right:0;
      background-color: #34495e; 
      top: 0;
      padding-top: 12vh;
      width: 40%;
      height: 100vh;
      right: 0;
      opacity: 0;
      transition: .5s;/* 追記 */
      z-index:400;
    }

  
    .slide-menu li{
      color: #fff;
      line-height: 400%;
      list-style: none;
      top:12vh;
    }
    .hamburger.active{/* 追記 */
      background-color: #34495e00;/
    }
    .hamburger.active span:first-of-type{/* ハンバーガーメニューの1番目の線 */
      top: 50%;
      width: 7vh;
      transform: rotate(45deg);
    }
    .hamburger.active span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
      opacity: 0;/* 透明にする */
    }
    .hamburger.active span:last-of-type{/* ハンバーガーメニューの3番目の線 */
      top: 50%;
      width: 7vh;
      transform: rotate(-45deg);
    }
    .slide-menu.active{
      opacity: 1;
    }
  
    .hamburger:hover{
      color: aqua;
    }
  
    .menu-lists{
      text-decoration: none;
      color: #fff;
    }
  
    .menu-lists:hover{
      color: aqua;
    }
}

*{
  margin:0px;
  padding:0px;
}


