{% extends "base.html" %}{% load static %}

{% block title %}Question Board{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'question_board/styles.css' %}">
{% endblock %}

{% block content_side %}

<script src="{% static "question_board/thread_detail_script.js" %}"></script>

<ul class="thread-list">
    {% for thread in threads %}
    <li class="thread-names">
        <a class="thread-name" href="{% url 'question_board:thread_detail' thread.id %}">{{ thread.name }}</a>
            {% comment %} - {{ thread.description }} {% endcomment %}
    </li>
    {% endfor %}
</ul>


{%endblock%}

{% block other_content %}
<div class='sidebar-content'>
    <h2>Thread List</h2>
    <ul class="thread-list">
        {% for thread in threads %}
        <li class="thread-names">
            <a class="thread-name" href="{% url 'question_board:thread_detail' thread.id %}">{{ thread.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

