{% extends 'base.html' %}

{% block title %}Question Board{% endblock %}

{% block content_side %}


<ul class="thread-list">
    {% for thread in threads %}
    <li class="thread-names">
        <a class="thread-name" href="{% url 'question_board:thread_detail' thread.id %}">{{ thread.name }}</a>
    </li>
    {% endfor %}
</ul>
    

{%endblock%}

{% block head_bar_main %}
<h1>{{ thread.name }}</h1>
{%endblock%}

{% block content_main %}

{% load static %}
<ul class="post-content-info">
    {% for post in posts %}
    <li class="post-news">
        <div class="post-info">
            <div class="post-header">
                <div class="icon"></div>
                <p class="post-id">{{ post.author}} Post ID: {{ post.id }}</p>
            </div>
            <p class="date-info">{{ post.created_at }}</p>
        </div>
        <p class="post-content" style="white-space: pre-wrap;">{{ post.content }}</p>
        <p>
        {% if post.attachment %}
          <img src="/question_board{{ post.attachment.url }}" style="max-width: 500px; max-height: 500px;"><br>
          <a href="/question_board{{ post.attachment.url }}">Download</a>
        {% endif %}<br></p>
        <button class="reply-btn" data-postid="{{ post.id }}" data-postcontent="{{ post.content }}">Reply</button>
    </li>
    {% endfor %}
</ul>



<div class="extra-space"></div>

<form method="POST" id="reply-form" class="reply-form" action="{% url 'question_board:thread_detail' thread.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div id='reply-to-post'></div>
    <textarea class="input-space" id="reply-content" name="content" placeholder="内容を入力"></textarea>
    <label for="file-upload">Upload file:</label>
    <input type="file" id="file-upload" name="attachment">
      
      
      
    <input type="hidden" id="post-id-input" name="post_id">
    <button class="send-button" type="submit">▶</button>
    <p id="error-message" style="color: red; display: none;"></p>

</form>



<script src="{% static "question_board/thread_detail_script.js" %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const contentMain = document.getElementById('content-main');

        window.onload = function() {
            contentMain.scrollTop = contentMain.scrollHeight;
        };
    });
</script>

{% endblock %} 





