*::-webkit-scrollbar {
    background-color: #636569;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #2f3136;
    border-radius: 10px;
}

.sidebar {
    height: 90vh;
    background-color: #202225;
    color: #b9bbbe;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #2f3136;
    overflow-y: scroll;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 8px 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    cursor: pointer;
    color: #b9bbbe;
    font-size: 0.9rem;
}

.sidebar ul li:hover {
    background-color: #393c43;
    color: white;
}

.main-content {
    height: 90vh;
    padding: 20px;
    background-color: #36393f;
    color: white;
    /* overflow-y: hidden; */
}

.main-content div.status {
    height: 10%;
    align-items: center;
    padding: 10px;
    background-color: #2f3136;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main-content div.ranking {
    max-height: 70%;
    /* 必要に応じて高さを調整 */
    align-items: center;
    padding: 10px;
    padding-top: 0;
    background-color: #2f3136;
    border-radius: 15px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.main-content div.ranking table {
    width: 100%;
    border-collapse: collapse;
}

.main-content div.ranking table th {
    position: sticky;
    top: 0;
    background-color: #2f3136;
    z-index: 1;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #4f545c;
}

.main-content div.ranking table td {
    padding: 10px;
    border-bottom: 1px solid #4f545c;
}

.main-content div.ranking table tr:hover {
    background-color: #393c43;
}

.main-content div.ranking table tr:hover td {
    color: white;
}