.gantt-chart {
    display: flex;
    white-space: nowrap;
    height: fit-content;
    position: relative;
}

.tasks {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex-shrink: 0;
}

.task-name {
    text-align: center;
    margin: 10px 0;;
    height: 16px;
}

.chart {
    position: absolute;
}

.chart-header {
    display: flex;
    position: sticky;
    top: 0;
    height: 36px;
}

.chart-header div {
    text-align: center;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
}

.chart-footer {
    position: relative;
    height: 36px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    z-index: 5;
}

.chart-footer .date-label {
    position: absolute;
    text-align: center;
    font-size: 12px;
    line-height: 36px; /* 高さを中央揃えにするため */
    top: 0;
    bottom: 0;
}

.chart-footer .date-line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #ddd;
}

.task-bars {
    position: absolute;
}

.task-bar {
    position: absolute;
    border-radius: 10px;
}

.vertical-line {
    position: absolute;
    top: 0;
    width: 1px;
    background-color: #ddd;
}

#loading-message{
    text-align: center;
    font-size: 24px;
}
