{% extends "base.html" %}{% load static %}

{% block title %}Question Board{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/common_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/sidebar_func.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/thread_func.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<script src="{% static 'widgets_test/common_script.js' %}"></script>
<script src="{% static 'widgets_test/sidebar_func.js' %}"></script>
<script src="{% static 'widgets_test/thread_func.js' %}"></script>
<script>
    const post_url = "{% url 'guilds:question_board:post_post' %}"
    const get_thread_url = "{% url 'guilds:question_board:get_thread' 0 %}"
</script>

{% endblock %}

{% block head_bar_main %}
{% endblock %}

{% block content_side %}

<!-- サイドバー -->
<div id="sideber"></div>

{%endblock%}

{% block content_main %}

<!-- メッセージ表示エリア -->
<div id="chat-container"></div>

<!-- 入力欄と送信ボタン -->
{% csrf_token %}
<div id="input-container-backarea"></div>
<div id="input-container">
    <div id="reply-to">
        <p>≫<span id="reply-to-post"></span></p>
    </div>
    <textarea id="message-input" placeholder="メッセージを入力..."></textarea>
    <button id="upload-button" type="button">
        <i class="bi bi-paperclip"></i>
    </button>
    <button id="send-button" type="button">
        <i class="bi bi-send"></i>
    </button>
</div>

{% endblock %}


{% block other_content %}


{% endblock %}