{% extends "base.html" %}{% load static %}

{% block title %}Question Board{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/common_style.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'question_board/styles.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/sidebar_func.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/thread_func.css' %}">
{% endblock %}

{% block head_bar_main %}
{% endblock %}

{% block content_side %}
<!-- ---------------------------------------------------------------------------------------------------- -->
<div id="sideber"></div>
<!-- ---------------------------------------------------------------------------------------------------- -->

{%endblock%}


{% block content_main %}

<div id="chat-container">
    <!-- メッセージ表示エリア -->
    <div id="messages"></div>

    <!-- 入力欄と送信ボタン -->
    <div id="input-container">
        <input type="text" id="message-input" placeholder="メッセージを入力...">
        <button id="send-button">送信</button>
    </div>
</div>

{% endblock %}


{% block other_content %}
<script src="{% static 'widgets_test/common_script.js' %}"></script>
<script src="{% static 'widgets_test/sidebar_func.js' %}"></script>
<script src="{% static 'widgets_test/thread_func.js' %}"></script>

<script>
    fetch("thread_list/").then(response => response.json()).then(data => {
        threads = data.threads;
        const dics = threads.map(thread => {
            return {
                "mainText": thread.name,
                "subText": thread.description,
                "link": "{% url 'guilds:question_board:get_thread' 0 %}".replace("0", thread.id)
            };
        });
        createSidebar("sideber", dics, "Threads", true);
    });
</script>

{% endblock %}