
:root {
    --TASK_BAR_AND_NAME_HEIGHT: 45px;
    --MAX_WIDTH: 2000px;
    --HEADER_HEIGHT: 61px;
    --MARGIN: 0px;
    --NEWHEADER_HEIGHT: calc(var(--HEADER_HEIGHT) - var(--MARGIN)*2);
    --TASK_BAR_FONT_SIZE: 16px;
}

.elements {
    display: flex;
    flex-direction: column;
    /* gap: var(--MARGIN)*2; */
}

ul {
    padding: 0 10px 0 10px;
    margin: 0;
}

.sidebar-header-div {
    height: var(--NEWHEADER_HEIGHT);
    /* padding-top: calc((var(--NEWHEADER_HEIGHT) - var(--TASK_BAR_FONT_SIZE)));
    font-size: calc(var(--TASK_BAR_FONT_SIZE) + 8px); */
    /* text-align: left;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: sticky;
    top: 0;
    background-color: #26282cf0;
    z-index: 100; */
}

.text-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

.text-elm {
    height: var(--TASK_BAR_AND_NAME_HEIGHT);
    max-width: var(--MAX_WIDTH);
}

.text-elm a {
    text-decoration: none;
    display: block;
}

.text-elm li {
    list-style: none;
}

.text-elm:hover {
    box-shadow: 0 0 10px 0px rgb(117, 216, 255);
    background-color: rgb(117, 216, 255);
}

.main-text {
    width: 100%;
    color: white;
    white-space: nowrap;
    overflow: hidden; /* 要素内のテキストがはみ出た場合、隠す */
    text-overflow: ellipsis; /* はみ出た部分に「...」を表示 */
    font-size: var(--TASK_BAR_FONT_SIZE);
}

.sub-text {
    width: 100%;
    color: #909090;
    white-space: nowrap;
    overflow: hidden; /* 要素内のテキストがはみ出た場合、隠す */
    text-overflow: ellipsis; /* はみ出た部分に「...」を表示 */
    font-size: calc(var(--TASK_BAR_FONT_SIZE) - 4px);
}

.detail-popup {
    /* display: none;
    position: absolute;
    z-index: 100;
    background-color: #26282cf0;
    color: white;
    border-radius: 5px;
    padding: 10px; */
    font-size: calc(var(--TASK_BAR_FONT_SIZE) * 0.8);
}
