:root {
    --SEPARATOR_THINNESS: 1px;
    --BACK_GROUND_COLOR: #913e0b80;
    --HOURS_PER_DAY: 24;
    --HOUR_TO_PX: 15px;
    --TASK_BAR_FONT_SIZE: 12px;
    --TASK_BAR_AND_NAME_HEIGHT: 45px;
    --TASK_BAR_UNIT: 50px;
    --taskBarFontSize: calc(var(--TASK_BAR_AND_NAME_HEIGHT)*0.35);
    --taskBarMargin: calc((var(--TASK_BAR_UNIT) - var(--TASK_BAR_AND_NAME_HEIGHT))/2);
}

.paremt-elm {
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
    display: block;
    position: relative;
}

.tasks {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex-shrink: 0;
}

.tasks ul {
    padding: 0;
    margin: 0;
}

.task-name {
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.task-name a {
    text-decoration: none;
}

.task-name li {
    list-style: none;
}

.task-name:hover {
    box-shadow: 0 0 2px 10px rgb(117, 216, 255);
    background-color: rgb(117, 216, 255);
}

.task-detail-popup {
    display: none;
    position: fixed;
    background-color: #26282c;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    top: 100%;
    left: 0;
    width: 25%;
    border-radius: 20px;
    font-size: var(--taskBarFontSize);
}

.task-bars {
    position: absolute;
    padding-top: 5px;
    margin: 0;
}

.task-bar {
    position: absolute;
    border-radius: 10px;
    z-index: 100;
    height: var(--TASK_BAR_AND_NAME_HEIGHT);
    margin: var(--taskBarMargin);
}

.task-separator {
    position: absolute;
    left: 0;
    right: 0;
}

.chart {
    position: relative;
}

.labels {
    display: flex;
    position: sticky;
    margin: 0;
    overflow: hidden;
    top: 0;
    z-index: 101;
}

.chart-header {
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    overflow: hidden;
    margin: 0;
}

.chart-footer {
    height: fit-content;
    margin: 0;
    top: 38px;
    height: calc(var(--TASK_BAR_FONT_SIZE)*1.5);
}

.chart-header, .chart-footer {
    position: sticky;
    z-index: 101;
    background-color: #26282cf0;
}

.chart-footer .date-label {
    position: absolute;
    text-align: center;
    height: fit-content;
    font-size: 12px;
    top: 0;
    bottom: 0;
}

.date-label {
    width: calc(var(--HOURS_PER_DAY) * var(--HOUR_TO_PX));
    font-size: var(--TASK_BAR_FONT_SIZE);
}

.chart-footer .date-line {
    position: absolute;
    height: calc(100% + 5px);
    width: 1px;
    padding: 0;
    background-color: #913e0b80;
}

.vertical-line {
    margin: 5px 0 0 0;
    width: var(--SEPARATOR_THINNESS);
    background-color: var(--BACK_GROUND_COLOR);
}

.vertical-lines {
    position: absolute;
    margin: 0;
}

.vertical-line {
    position: relative;
    padding: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.time-text {
    width: fit-content;
}

.due-date,
.label-task-name {
    position: absolute;
    margin-left: 5px;
    z-index: 2;
}

.now-time {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    width: 2px;
    background-color: #ff000099;
    z-index: 101;
}

.due-date {
    font-size: var(--taskBarFontSize);
    margin: calc((var(--TASK_BAR_AND_NAME_HEIGHT) - var(--taskBarFontSize) - var(--taskBarMargin)*2)/2);
    color: white;
}

.label-task-name {
    display: none;
}

.label-task-name a {
    text-decoration: none;
    display: block;
}

.label-task-name a span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-link {
    height: var(--TASK_BAR_AND_NAME_HEIGHT);
    font-size: var(--taskBarFontSize);
}

.task-span {
    font-size: var(--taskBarFontSize);
    margin-top: calc((var(--TASK_BAR_AND_NAME_HEIGHT) - var(--taskBarFontSize) - var(--taskBarMargin)*2)/2);
    color: white;
}

@media (max-width: 767.5px) { /* md以下のとき */
    .label-task-name {
        display: block;
    }

    .due-date {
        display: none;
    }
}
