<!DOCTYPE html>
{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">
</head>

<body>
    <div id="side_bar" class="sidebar">
        <ul class="include-accordion">
            <li class="dashboard">
                <a href="http://127.0.0.1:8000/">
                    <i class="dashboard"></i>
                    <span class="sidebar_text">Dashboard</span>
                </a>
            </li>

            <li class="taskboard has-submenu">
                <div style="display: flex; align-items: center;">
                    <a href="http://127.0.0.1:8000/task_board" class="sidebar-text">
                        <i class="taskboard"></i>
                        <span>Taskboard</span>
                    </a>
                    <div class="arrow-container">
                        <span class="arrow down"></span>
                    </div>
                </div>
                <ul class="submenu">
                    {% for course in tasks.courses %}
                        <li><a href="#">{{ course }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="questionboard has-submenu">
                <div style="display: flex; align-items: center;">
                    <a href="http://127.0.0.1:8000/question_board" class="sidebar-text">
                        <i class="questionboard"></i>
                        <span class="sidebar_text">Questionboard</span>
                    </a>
                    <div class="arrow-container">
                        <span class="arrow down"></span>
                    </div>
                </div>
                <ul class="submenu">
                    {% for category in context.categories %}
                        <li><a href="{% url 'question_board:category_detail' category.id %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            
            <li class="scoreboard">
                <a href="http://127.0.0.1:8000/score_board">
                    <i class="scoreboard"></i>
                    <span class="sidebar_text">Scoreboard</span>
                </a>
            </li>
        </ul>       
    </div>

    <div class="body">
        <div class="main-content">{% block content %} {% endblock %}</div>
    </div>

    <script src="{% static "base/script.js" %}"></script>

</body>

</html>