<!DOCTYPE html>
{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">
</head>

<body>
    <script>
        try {
            var auth_url = "{% url 'dash_board:auth' %}";
            var current_url = window.location.href;
            if (!current_url.includes("auth=")) {
                // nextパラメータをURLに追加してリダイレクト
                auth_url += "?next=" + encodeURIComponent(current_url);
                window.location.href = auth_url;
            }
        } catch (error) {
            // エラーが発生した場合は、エラーメッセージをコンソールに表示
            console.error("Error:", error);
        }
    </script>
    <header id="header">
        <div class="header-logo"><a href="//127.0.0.1:8000/" class="front_data">Guild S</a></div>
        <div class="header-list">
            <div class="container">
                <ul>
                    <li><a href="//127.0.0.1:8000/task_board" class="board_data">Taskboard</a></li>
                    <li><a href="//127.0.0.1:8000/question_board" class="board_data">Questionboard</a></li>
                    <li><a href="//127.0.0.1:8000/score_board" class="board_data">Scoreboard</a></li>
                    <li>お問い合わせ</li>
                </ul>
            </div>
        </div>
        <div class="button-wrap">
            <a href="#" class="button-list">MyPAGE ▼</a>
            <ul class="dropdown-lists">
                <li class="dropdown-list"><a href"#">MyPAGE</a></li>
                <li class="dropdown-list"><a href"#">MENU</a></li>
                <li class="dropdown-list"><a href"#">MENU</a></li>
                <li class="dropdown-list"><a href"#">MENU</a></li>
                <li class="dropdown-list"><a href"#">MENU</a></li>
                <li class="dropdown-list"><a href"#">LOG OUT</a></li>
            </ul>
        </div>
    </header>
    <div id="hover_area"></div>
    <div id="side_bar" class="sidebar">
        <ul class="include-accordion">
            <li class="dashboard">
                <a href="//127.0.0.1:8000/">
                    <i class="dashboard"></i>
                    <span class="sidebar_text">Dashboard</span>
                </a>
            </li>

            <li class="taskboard has-submenu">
                <div style="display: flex; align-items: center;">
                    <a href="//127.0.0.1:8000/task_board" class="sidebar-text">
                        <i class="taskboard"></i>
                        <span>Taskboard</span>
                    </a>
                    <div class="arrow-container">
                        <span class="arrow down"></span>
                    </div>
                </div>
                <ul class="submenu">
                    {% for course in tasks.courses %}
                    <li><a href="#">{{ course }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="questionboard has-submenu">
                <div style="display: flex; align-items: center;">
                    <a href="//127.0.0.1:8000/question_board" class="sidebar-text">
                        <i class="questionboard"></i>
                        <span class="sidebar_text">Questionboard</span>
                    </a>
                    <div class="arrow-container">
                        <span class="arrow down"></span>
                    </div>
                </div>
                <ul class="submenu">
                    {% for thread in threads %}
                    <li><a href="{% url 'question_board:thread_detail' thread.id %}">{{ thread.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="scoreboard">
                <a href="//127.0.0.1:8000/score_board">
                    <i class="scoreboard"></i>
                    <span class="sidebar_text">Scoreboard</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="body">
        <div class="main-content">{% block content %} {% endblock %}</div>
    </div>

    <script src="{% static "base/script.js" %}"></script>

</body>

</html>