{% extends "base.html" %}{% load static %}

{% block title %}Home{% endblock%}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/common_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/sidebar_func.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/taskbar_func.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/timetable_func.css' %}">
{% endblock %}

{% block head_bar_side %}
{% endblock %}

{% block head_bar_main %}

{% endblock %}

{% block content_side %}
<div id='sidebar'></div>
{% endblock %}

{% block content_main %}
<div class="row">
    <div class="col-md-2" id="up-left">
    </div>
    <div class="col-md-5" id="up-middle">
    </div>
    <div class="col-md-5" id="up-right">
    </div>
</div>
{% comment %} <div class="row">
    <div class="col-md-3" id="down-left">
    </div>
    <div class="col-md-9" id="down-right">
    </div>
</div> {% endcomment %}

<script src="{% static "widgets_test/common_script.js" %}"></script>
<script src="{% static "widgets_test/sidebar_func.js" %}"></script>
<script src="{% static "widgets_test/taskbar_func.js" %}"></script>
<script src="{% static "widgets_test/timetable_func.js" %}"></script>
{% endblock %}

{% block other_content %}
<h1>home</h1>
<h1>user: {{ user }}</h1>
{%endblock%}

