<div class="menu-list">
    <div class="header-block">
    <div>
    <div class="header-area">
        <div class="hamburger">
        <!-- ハンバーガーメニューの線 -->
            <span></span>
            <span></span>
            <span></span>
        <!-- /ハンバーガーメニューの線 -->
        </div>
    </div>
    <ul class="slide-menu" style="padding-left: 8px">
        <div class="menu-list">
            <li><a class="menu-lists "href="//127.0.0.1:8000/">Home</a></li>
            <li><a class="menu-lists "href="//127.0.0.1:8000/task_board">Taskboard</a></li>
            <li><a class="menu-lists "href="//127.0.0.1:8000/question_board">Questionboard</a></li>
            <li><a class="menu-lists "href="//127.0.0.1:8000/score_board">Scoreboard</a></li>
        </div>
    </ul>
</div>

