{% comment %} <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<ul class="menu-lists">
    <li>
        <a class="menu-list mx-lg-2"href="//127.0.0.1:8000/">Home</a>
    </li>
    <li>
        <a class="menu-list mx-lg-2"href="//127.0.0.1:8000/">Taskboard</a>
    </li>
    <li>
        <a class="menu-list mx-lg-2"href="//127.0.0.1:8000/">Questionboard</a>
    </li>
    <li>
        <a class="menu-list mx-lg-2"href="//127.0.0.1:8000/">Scoreboard</a>
    </li>
</ul> {% endcomment %}

<div class="menu-list">
    <div class="header-block">
    <div>
    <div class="header-area">
        <div class="hamburger">
        <!-- ハンバーガーメニューの線 -->
            <span></span>
            <span></span>
            <span></span>
        <!-- /ハンバーガーメニューの線 -->
        </div>
    </div>
    <ul class="slide-menu">
        <div class="menu-list">
            <li><a class="menu-lists "href="//127.0.0.1:8000/">Home</a></li>
            <li><a class="menu-lists "href="//127.0.0.1:8000/task_board">Taskboard</a></li>
            <li><a class="menu-lists "href="//127.0.0.1:8000/question_board">Questionboard</a></li>
            <li><a class="menu-lists "href="//127.0.0.1:8000/score_board">Scoreboard</a></li>
        </div>
    </ul>
</div>

