{% extends "base.html" %}
{% load static %}

{% block title %}Test Page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/common_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/sidebar_func.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/taskbar_func.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/timetable_func.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'widgets_test/thread_func.css' %}">
{% endblock %}

{% block content_side %}
<div id="sidebar">

</div>
{% endblock %}

{% block content_main %}
<div class="row">
    <div class="col-md-3" id="up-left">
    </div>
    <div class="col-md-6" id="up-middle">
    </div>
    <div class="col-md-3" id="up-right">
    </div>
</div>
<div class="row">
    <div class="col-md-6" id="down-left">
    </div>
    <div class="col-md-6" id="down-right">
    </div>
</div>

<script src="{% static "widgets_test/common_script.js" %}"></script>
<script src="{% static "widgets_test/sidebar_func.js" %}"></script>
<script src="{% static "widgets_test/taskbar_func.js" %}"></script>
<script src="{% static "widgets_test/timetable_func.js" %}"></script>
<script src="{% static "widgets_test/thread_func.js" %}"></script>
{% endblock %}
